---
layout: post
title: 'Announcement to PPE Candidates - Submission of PPE QA Reports'
date: 2020-09-16T00:00:00.000Z
permalink: /resources/news/announcement-to-ppe-candidates-qa-reports

---

16 Sep 2020

### **Update on Submission of PPE Quarterly Assessment Reports**

1.	PPE Candidates are requested to continue to mail in their quarterly assessment reports to BOA **via post** until further notice. 

2.	Please note that we do **not** accept email submissions or any drop off in person or by courier/registered post as our service counter will be closed.

3.	Candidates are to ensure that the reports reach BOA by the given deadlines stated in the forms.

4.	Candidates are permitted to continue to submit quarterly assessment reports which are **signed electronically** by their PPE Advisor/Supervisor until further notice.

5.	For reports which are signed electronically, candidates must attach printed copies of the email from your PPE Advisor/Supervisor confirming their approval for the reports together with the quarterly assessment reports. Candidates are reminded **not** to submit your log sheets with your quarterly assessment reports. 

6.	If your PPE Advisor/Supervisor is not able to sign your reports electronically, you are advised to get your PPE Advisor/Supervisor to mail the signed reports to you.

7.	BOA will continue to monitor the situation and update the candidates on any changes in the submission procedures. Candidates are strongly advised to check BOA’s website regularly for any updates. 
